.customInput {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.95rem;
  outline: none;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  
  &:focus {
    border: 1.5px solid #24a19c;
  }
}
