.cartItems {
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 2rem;
  line-height: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  background-image: linear-gradient(to right, #bbc0ce 0%, #ebeff5 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(62, 89, 94, 0.5),
    0 -0.25rem 1.5rem rgba(50, 46, 52, 0.44) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(210, 210, 210, 1) inset;

  &::before {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;
    opacity: 0.7;
    background-image: linear-gradient(
      -270deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 20%,
      #ffffff 80%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &::after {
    content: "";
    display: block;
    height: 0.25rem;
    position: absolute;
    bottom: 0.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 7.5rem);
    background: #fff;
    border-radius: 100%;
    filter: blur(1px);
    opacity: 0.05;
    background-image: linear-gradient(
      -270deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 20%,
      #ffffff 80%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  aside {
    &:first-child {
      padding: 0 7px;
      padding-top: 10px;
      display: flex;
      align-items: center;

      div {
        /* background: #dedfe1; */
        background: #c5cbd6;

        /* background: #e2e2e2; */
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;

        /* margin: 7px 0px; */
        margin: 3px 0px;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 10px;
        margin-right: 10px;

        img {
          width: 65px;
        }
      }
    }

    &:last-child {
      padding-top: 1rem;

      .nameAndCross {
        display: flex;
        justify-content: space-between;
        color: #757983;
        width: 170px;
        margin-bottom: 10px;

        .nameAndCross__name {
          font-size: 13px;
          font-family: fantasy;
          padding-top: 3px;
          margin-right: 5px;
          line-height: normal;
        }

        .nameAndCross__cross {
          font-size: 0.8rem;
          margin-right: 1rem;
          border: none;
          background: transparent;
        }
      }

      .cost {
        display: flex;
        line-height: normal;

        .cost__price {
          font-size: 0.8rem;
          font-family: fantasy;
          margin: 0;
          margin-top: -10px;
          margin-bottom: 10px;
        }

        .cost__oldPrice {
          color: #515356;
        }

        .cost__newPrice {
          color: #da4554;
          padding-left: 1rem;
        }
      }

      .totalAndQty {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #757983;
        width: 170px;

        /* height: 25px; */
        font-family: fantasy;
        font-size: 12px;
        margin-bottom: 3px;
        line-height: normal;

        .totalAndQty__total {
          color: #515356;
          padding: 0;
          margin: 0;
        }

        .totalAndQty__qty {
          display: flex;
          border-radius: 25px;
          box-shadow: inset 4px 4px 4px #a9a9a9, inset -4px -4px 4px #f5f5f5;
          padding: 0 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          margin-right: 10px;

          p {
            border: none;
            outline: none;
            background: transparent;
            font-size: 10px;
            color: #555;
            padding: 0 5px;
            padding-top: 7px;
            padding-bottom: -10px !important;
            margin: 0;
            font-weight: bold;
          }
        }
      }
    }
  }
}
